"source_address_prefix" = "1.2.3.0/24"
"tag_customer" = "AwesomeCustomer"
"tag_project" = "compliance-workshop"
"tag_dept" = "CustomerSuccess"
"tag_contact" = "jmassardo"
"tag_ttl" = "8"
"count" = "1"
"image_name" = "workshop_workstation"
"image_rg_name" = "my_image_rg"